{% extends 'base.html.twig' %}

{% block title %}Lookup{% endblock %}

{% block body %}

<main class="container">
    <h1>Lookup bus jump</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Submit</button>
    {{ form_end(form) }}
</main>
{% endblock %}
